<library path="lib/libasl_turtlebot">
  
  <class name="SquirtleBotCommander" type="SquirtleBotCommander" base_class_type="rqt_gui_cpp::Plugin">
    <description>
      SquirtleBot Command Center
    </description>
    <qtgui>
      <group>
        <label>Robot Tools</label>
        <icon type="theme">folder</icon>
        <statustip>Plugins related to robot tools</statustip>
      </group>
      <label>SquirtleBotCommander</label>
      <icon type="theme">input-gaming</icon>
      <statustip>SquirtleBot Command Center</statustip>
    </qtgui>
  </class>
  
</library>


